<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mo.kpay2" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application>
        <!-- 建行支付相关 -->
        <activity
            android:name="com.ccb.ccbnetpay.activity.CcbH5PayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ccb.ccbnetpay.activity.CcbUnionPayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ccb.ccbnetpay.activity.appresult.ResultActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <!-- 替换你的THIRDAPPINFO 详情参看 《跳转至建行WEB网关下单接口v2.2》-->
                <action android:name="ccbdemo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>